/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

header .logo h1 {
    margin: 0;
    margin-left: 20px; /* Logo moved slightly to the right */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    margin-left: 10px; /* Links moved slightly to the left */
}

section {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

section#main .content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-text {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
    text-align: left;
    font-weight: normal; /* Making the text not bold */
}

.images img {
    width: 200px; /* Bigger gallery images */
    height: 200px;
    padding: 5px;
    cursor: pointer; /* Indicates the image is clickable */
    transition: transform 0.3s ease; /* Smooth transform on click */
}


.images img:hover {
    transform: scale(3); /* Enlarge images on hover */
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* Add gaps between project entries */
}

.project img {
    width: 500px; /* Slightly bigger project images */
    height: auto;
    margin-right: 20px;
}

footer {
    background: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

footer .social-links a {
    color: lightblue;
    text-decoration: none;
    margin-right: 10px;
}
